 .App {
  font-family: Arial, sans-serif;
  padding: 30px;
}

.form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form input {
  margin-right: 20px;
  padding: 10px;
  font-size: 16px;
  flex: 1;
  border: 1px solid #899e20;
  border-radius: 5px;
}

.form input:hover {
  border: 1px solid rgb(13, 109, 183);
}

.form button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: auto;
  display: inline-block;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

table, th, td {
  border: 1px solid #dbd8d8;
  border-radius: 5px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.actions .update-btn {
  background-color: rgb(211, 211, 8);
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.actions .delete-btn {
  background-color: rgb(165, 15, 15);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
}


